<nav>
    <div class="site-title">
      <a href="/"><h1>George's Blog</h1></a>
      <p>A place for blogs</p>
    </div>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/blog/create">Create A New Blog</a></li>
    </ul>
  </nav>