<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>
    <div class="not-found content">
      <h2>404, Not Found</h2>

      <p>
        The page you tried to reach does not exist.
      </p>
    </div>
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
